body {
  background: black;
  color: #EADEDA;
  font-family: 'Open Sans', sans-serif;
  font-size: 3vh;
  min-font-size: 40px;
  margin: 0;
  height: 100%;
  overscroll-x: hidden;
  overflow-x: hidden;
}